html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(to right, white, purple);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input, textarea{
  border-radius: 10px;
  padding: 5px;
}
hr{
    color:darkgray;
}
p{
  text-indent: 30px;
}